.menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    }
    
    img {
    width: 100%;
    max-width: 300px;
    }

    .item {
        cursor: pointer;
    }

    .toppings {
        border: 1px solid black;
        width: 70%;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 15px;
        

        p {
            margin: 0 auto;
        }

    }

    .breakfast, .lunch, .your-order {
        border: 1.5px solid $brand-color;
        margin: 10px;
        padding: 10px;
    }

    .order {
        border-bottom: 1px black solid;

    }
    .your-order {
        display: flex;
        
        flex-direction: column;
        .logo {
            justify-content: center;
        }
    }
    .order-total td{
        text-align: right;
        padding-right: 5%;
        
    }


    .menu-cont {    
        @media (min-width: 660px) {
            img {
                max-width: 90%;
            }
            .order-total td{
                text-align: right;
                padding-right: 0;
                
            }
            #price-sum {
                text-align: right;
            }

        }
        @media (min-width: 820px) {
                display: flex;
                grid-template-columns: repeat(3, 1fr);

        }
        .our-order {
            display: flex;
           
            flex-direction: column;
        }
    }

}