
.QR {
    display: flex;
    flex-direction: column;
    h2 {
        display: block;
    }

}
form {
    
    flex-direction: column;
}
.form3 
    {
    margin-left: 30px;
}
.submit {
    margin-top: 10px;
    margin-left: 30px;
    input {
        background-color: $brand-color;
        font-family: $body-font;
        font-size: 1.5em;
        
        
    }
}



