//Resets

//Box Sizing Reset 
*, *:before, *:after {
    box-sizing: border-box;
}

//Image Reset
img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//Body Reset
body {
    margin: 0;
}